body{
    background-color: #90d5ec;
    background-image: linear-gradient(315deg, #d9a7c7 0%, #fffcdc 74%);
    font-weight: 900;
    font-size: larger;
}
#firstdiv{
    margin-left: 350px;
    margin-top: 200px;
}
#phones{
    margin-left: 20px;
    width:300px;
    border-radius: 5px;
    border:none;
    height: 40px;
    padding: 20px;
}
#phones:focus{
    border: none;
    outline: none;
}
#otp{
    margin-left: 200px;
    width:300px;
    border-radius: 5px;
    border:none;
    height: 0px;
    padding: 20px;
}
#otp:focus{
    border: none;
    outline: none;
}
.btn{
    margin-left: 80px;
    width:150px;
}

